.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FC7C01;
    padding: 0;
    flex-direction: column;
}

.link {
    min-width: 205px;
    height: 42px;
    background-color: #EF64FE;
    border: 3px solid #080808;
    color: #080808;
    font-size: 23px;
    font-family: inherit;
    border-radius: 5px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 16px 0;
}

.link:hover,
.link:active {
    background-color: #b21bc2;
}

.dividorBottom {
    background: url('@assets/dividor-top.svg') no-repeat;
    margin-bottom: -20px;
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 40px;
    display: block;
    position: relative;
}

@media (max-width: 767px) {
    .dividorBottom {
        margin-bottom: -25px;
    }
}

@media (max-width: 425px) {
    .link {
        font-size: 20px;
    }
}