.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    position: relative;
    justify-content: center;
}

.container h4 {
    font-size: 100px;
    font-weight: 400;
    line-height: 90px;
}

.lastLine {
    position: relative;
    padding-bottom: 20px;
}

.lastLine span:not(.underline) {
    z-index: 1;
    position: relative;
}

.deco1 {
    color: #d4a2e8;
}

.deco2 {
    color: #FC7C01;
}

.dividor {
    background: url('@assets/dividor-bottom.svg') no-repeat;
    margin-bottom: -7px;
    background-position: bottom;
    background-size: cover;
    z-index: 1;
    width: 100%;
    height: 40px;
    margin-top: 55px;
}

.heart {
    position: absolute;
    left: 35px;
    top: 30%;
}

.underline {
    background: url('@assets/underline-orange.svg') no-repeat;
    width: 108%;
    display: block;
    height: 30px;
    position: absolute;
    bottom: 0px;
    left: -25px;
}

@media (max-width: 860px) {
    .heart {
        display: none;
    }

    .container h4 {
        font-size: 90px;
        line-height: 80px;
    }
}

@media (max-width: 767px) {
    .container h4 {
        font-size: 70px;
        line-height: 60px;
    }
}

@media (max-width: 575px) {
    .container h4 {
        font-size: 50px;
        line-height: 40px;
    }

    .underline {
        left: -15px;
    }
}

@media (max-width: 425px) {
    .container h4 {
        font-size: 40px;
        line-height: 40px;
    }
}

@media (max-width: 375px) {
    .container h4 {
        font-size: 35px;
        line-height: 35px;
    }
}