.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    position: relative;
    justify-content: center;
}

.container h4 {
    font-size: 100px;
    font-weight: 400;
    line-height: 90px;
}

.lastLine {
    position: relative;
    padding-bottom: 20px;
}

.lastLine span:not(.underline) {
    z-index: 1;
    position: relative;
}

.deco1 {
    color: #EF64FE;
}

.deco2 {
    color: #FC7C01;
}

.dividor {
    background: url('@assets/dividor-bottom.svg') no-repeat;
    margin-bottom: -7px;
    background-position: bottom;
    background-size: cover;
    z-index: 1;
    width: 100%;
    height: 40px;
    margin-top: 25px;
}

.heart {
    position: absolute;
    left: 35px;
}

.underline {
    background: url('@assets/underline-orange.svg') no-repeat;
    width: 108%;
    display: block;
    height: 30px;
    position: absolute;
    bottom: 0px;
    left: -25px;
}