.content {
    padding: 50px 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.title {
    color: #FC7C01;
    font-size: 80px;
    text-align: center;
    font-weight: 400;
}

.typeTitle {
    font-size: 60px;
    font-weight: 400;
    position: relative;
}

.typeTitle span:not(.underline) {
    position: relative;
    z-index: 1;
}

.underline {
    background: url('@assets/underline-purple.svg') no-repeat;
    display: block;
    position: absolute;
    width: 420px;
    background-size: contain;
    height: 22px;
    left: -20px;
    bottom: 6px;
}

.typeSubtitle {
    font-size: 20px;
    font-weight: 200;
    margin: 2px 0 20px;
}

.typescontent {
    margin-top: 30px;
}

.typesWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.date {
    font-size: 40px;
    font-weight: 600;
    margin-right: 20px;
}

.infoWrapper {
    display: flex;
}

.wrapper,
.priceWrapper {
    display: flex;
    flex-direction: column;
}

.priceWrapper {
    width: 150px;
}

.name {
    font-size: 40px;
}

.desc {
    font-size: 16px;
    line-height: 18px;
}

.price {
    font-size: 40px;
    line-height: 33px;
    text-align: center;
}

.soldout {
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    color: #d4a2e8;
}

.priceDesc {
    font-size: 16px;
    color: #FC7C01;
    font-weight: 400;
    text-align: center;
}

.dividorTop {
    background: url('@assets/dividor-top.svg') no-repeat;
    position: relative;
    display: block;
    background-position: top;
    background-size: cover;
    z-index: 1;
    width: 100%;
    height: 40px;
    margin-top: -7px;
}

.dividorBottom {
    background: url('@assets/dividor-bottom.svg') no-repeat;
    margin-bottom: -7px;
    background-position: bottom;
    background-size: cover;
    z-index: 1;
    width: 100%;
    height: 40px;
    display: block;
    position: relative;
}

@media (max-width: 996px) {
    .underline {
        left: -10px;
    }
}

@media (max-width: 767px) {
    .content {
        padding-right: 5px;
    }

    .title {
        font-size: 60px;
    }

    .typeTitle {
        font-size: 40px;
    }

    .typeSubtitle {
        font-size: 20px;
    }

    .date {
        font-size: 35px;
    }

    .infoWrapper {
        flex-direction: column;
    }

    .priceWrapper {
        width: 115px;
        justify-content: center;
    }

    .name {
        font-size: 35px;
    }

    .desc {
        font-size: 14px;
    }

    .price {
        font-size: 35px;
    }

    .priceDesc {
        font-size: 14px;
    }

    .underline {
        width: 325px;
        bottom: 0;
    }
}

@media (max-width: 320px) {
    .date {
        font-size: 30px;
    }

    .infoWrapper {
        flex-direction: column;
    }

    .priceWrapper {
        width: 100px;
        justify-content: center;
    }

    .name {
        font-size: 25px;
    }

    .price {
        font-size: 30px;
    }

    .underline {
        width: 290px;
    }
}