.container {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.title {
    color: #FC7C01;
    font-size: 80px;
    text-align: center;
    font-weight: 400;
}

.typeTitle {
    font-size: 60px;
    font-weight: 400;
}

.typeSubtitle {
    font-size: 20px;
    font-weight: 200;
    margin-top: 5px;
}

.typesContainer {
    margin-top: 30px;
}

.typesWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.date {
    font-size: 40px;
    font-weight: 600;
    margin-right: 20px;
}

.infoWrapper {
    display: flex;
}

.wrapper,
.priceWrapper {
    display: flex;
    flex-direction: column;
}

.priceWrapper {
    width: 150px;
}

.name {
    font-size: 40px;
}

.desc {
    font-size: 16px;
}

.price {
    font-size: 45px;
    line-height: 33px;
    text-align: center;
}

.priceDesc {
    font-size: 16px;
    color: #FC7C01;
    font-weight: 400;
    text-align: center;
}

@media (max-width: 767px) {
    .container {
        padding-right: 5px;
    }

    .title {
        font-size: 60px;
    }

    .typeTitle {
        font-size: 40px;
    }

    .typeSubtitle {
        font-size: 20px;
    }

    .date {
        font-size: 35px;
    }

    .infoWrapper {
        flex-direction: column;
    }

    .priceWrapper {
        width: 115px;
        justify-content: center;
    }

    .name {
        font-size: 35px;
    }

    .desc {
        font-size: 14px;
    }

    .price {
        font-size: 35px;
    }

    .priceDesc {
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .date {
        font-size: 30px;
    }

    .infoWrapper {
        flex-direction: column;
    }

    .priceWrapper {
        width: 100px;
        justify-content: center;
    }

    .name {
        font-size: 25px;
    }

    .price {
        font-size: 30px;
    }
}