.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    background-color: #151515;
    z-index: 10;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav a:not(.instagram) {
    padding: 6px 10px;
    text-wrap: nowrap;
}

.nav a:hover {
    text-decoration: underline;
}

.dropdown {
    position: relative;
    padding: 6px 10px;
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #151515;
    min-width: 150px;
    display: none;
    list-style: none;
    box-shadow: -1px 1px 7px 0px rgba(131, 131, 131, 0.31);
    border: 1px solid #969696;
}

.dropdown:hover .dropdownMenu {
    display: block;
}

.dropdownMenu li {
    border-bottom: 1px solid #969696;
    padding: 5px;
}

.dropdownMenu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

.arrowDropdown {
    margin-left: 5px;
}

.instagram {
    padding: 0;
    display: inline-flex;
    align-items: baseline;
    margin: 0 10px;
}

.instagramIcon {
    display: block;
}

.instagramLabel {
    font-size: 16px;
    color: #fc7c01;
    font-weight: 300;
    text-decoration: underline;
    display: none;
}

.hamburger {
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.bar {
    width: 100%;
    height: 3px;
    background-color: #FC7C01;
    transition: all 0.3s ease-in-out;
}

.hamburger.active .bar.top {
    transform: translateY(11px) rotate(45deg);
}

.hamburger.active .bar.middle {
    opacity: 0;
}

.hamburger.active .bar.bottom {
    transform: translateY(-11px) rotate(-45deg);
}

.mobileMenu {
    display: none;
    background: none;
    border: none;
}

@media (max-width: 767px) {
    .mobileMenu {
        display: block;
    }

    .menuTop {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 10px 20px;
        background-color: #151515;
        z-index: 10;
    }

    .container {
        padding: 0;
    }

    .nav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 56px;
        left: 0;
        background-color: #151515;
        overflow-x: hidden;
        transition: width 0.5s;
        padding: 0;
        flex-direction: column;
        justify-content: start;
        z-index: 1000;
    }

    .nav.open {
        width: 100%;
        left: 0;
    }

    .nav a:not(.instagram) {
        padding: 0 24px 20px;
        font-size: 18px;
    }

    .nav .instagram {
        align-items: center;
        margin: 0 24px;
    }

    .nav .instagramLabel {
        display: block;
    }

    .nav .instagramIcon {
        margin-right: 10px;
    }

    .dropdown {
        padding: 0 24px 20px;
        font-size: 18px;
    }

    .dropdownMenu {
        display: block;
        position: relative;
        top: 0;
        border: none;
        box-shadow: none;
    }

    .dropdownMenu li {
        border: none;
        padding: 15px 10px 0px;
    }

    .dropdownMenu li a {
        padding: 0 !important;
        font-size: 16px;
    }

    .arrowDropdown {
        display: none;
    }
}