.container {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}

.title {
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 500;
}

@media (max-width: 767px) {
    .container {
        padding-bottom: 20px;
    }

    .title {
        font-size: 40px;
    }
}