.container {
    padding-top: 40px;
}

.title {
    font-size: 55px;
    text-align: center;
}

.subtitle {
    font-size: 30px;
    text-align: center;
    color: #d4a2e8;
    margin-bottom: 10px;
}

.content {
    display: flex;
    padding: 30px;
    flex-direction: row;
}

.card {
    width: 33%;
    background: #3e1f47;
    border-radius: 10px;
    padding: 50px 20px;
    text-align: center;
    margin: 0 10px;
}

.cardImage {
    border-radius: 50%;
    border: 4px solid #5c3d67;
    margin: 14px 0;
}

.cardName {
    font-size: 20px;
}

@media (max-width: 767px) {
    .title {
        font-size: 45px;
        padding: 0 5px;
    }

    .content {
        flex-direction: column;
    }

    .card {
        width: 100%;
        margin: 10px 0;
        padding: 30px 20px;
    }
}