.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav a {
    padding: 6px 10px;
}

.nav a:hover {
    text-decoration: underline;
}

.social {
    display: flex;
}

.instagram {
    background: url('@assets/instagram-white.svg') no-repeat;
    width: 25px;
    height: 25px;
    display: block;
    padding: 0;
    margin: 0 10px;
}

.facebook {
    background: url('@assets/facebook.png') no-repeat;
    width: 18px;
    height: 25px;
    display: block;
    padding: 0;
    margin: 0 10px;
}

@media (max-width: 767px) {
    .nav {
        display: none;
    }
}