.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}

.logo {
    margin-bottom: -75px;
    z-index: 1;
}

.scrollDown {
    background: url('@assets/arrow-down.svg') no-repeat;
    width: 65px;
    height: 65px;
    border: none;
    margin-top: -70px;
}

.bannerMobile {
    display: none;
}


@media (max-width: 767px) {
    .bannerMobile {
        display: block;
    }

    .bannerDesktop {
        display: none;
    }

    .logo {
        width: 413px;
        height: 160px;
        margin-bottom: -60px;
    }

    .scrollDown {
        margin-top: -48px;
    }

    .container {
        padding-bottom: 30px;
        position: initial;
    }
}

@media (max-width: 425px) {
    .bannerMobile {
        width: 350px;
        height: 230px;
    }

    .logo {
        width: 313px;
        height: 130px;
        margin-bottom: -45px;
    }
}

@media (max-width: 375px) {
    .bannerMobile {
        width: 300px;
        height: 190px;
    }

    .scrollDown {
        margin-top: -30px;
    }
}

@media (max-width: 320px) {
    .bannerMobile {
        width: 280px;
        height: 190px;
    }

    .logo {
        width: 300px;
        height: 120px;
        margin-bottom: -45px;
    }

    .scrollDown {
        width: 55px;
        height: 55px;
        background-size: 55px;
    }
}